@mixin layout() {
  .loading-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -5%;
    margin-left: -2%;
  }

  .page-padding {
    padding: 2rem;
  }

  .definition-card-layout {
    width: 80%;

    .cards {
      width: 100%;
      padding: 0;

      bc-card {
        min-width: 15rem;
        margin: 0;
        padding: 1rem;

        @media only screen and (max-width: 499px) {
          width: 100% !important;
        }

        &:first-of-type {
          padding-left: 0;
        }
      }

      @media only screen and (max-width: 499px) {
        width: 93%;
      }
    }

    @media only screen and (max-width: 499px) {
      width: 100%;
    }
  }

  .right-of-field-icon {
    margin-left: 0.5rem;
  }
}
