@use 'sass:map';
@use '../../../node_modules/@abraxas/base-components/src/lib/styles/predefined/default.palette' as *;

@mixin overrides() {
  mat-toolbar {
    padding: 0 25px !important;
  }

  .larger-font-label {
    label {
      font-size: 0.9rem;
    }
  }

  .calculated-value bc-label label {
    font-size: 1.5rem;
  }

  bc-readonly.full-width-readonly div {
    width: 100%;
  }

  .block-radio-button-options {
    mat-radio-button {
      display: block;
      margin: 0 !important;

      &:not(:last-of-type) {
        margin: 0 0 2rem !important;
      }
    }
  }

  @content;
}
