@use '../../../node_modules/normalize.css/normalize.css';
@use '@abraxas/voting-lib/style' as *;

@import './layout';
@import './shared';
@import './overrides';
@import './table';
@import '../../../node_modules/bootstrap/dist/css/bootstrap-grid.css';

@include layout();
@include shared();
@include overrides();

.custom-dialog-container .mat-mdc-dialog-container {
  padding: 0;
}

bc-readonly {
  height: 35px;
  align-content: center;
  text-wrap: nowrap;
}
