@if (theme) {
  <div>
    <header>
      @if (hasTenant) {
        <bc-app-header-bar-iam
          bc-app-header-bar
          logo="VO"
          [title]="appTitle"
          [link]="['/', theme]"
          [settingsLabel]="'misc.settings' | translate"
          [signOutLabel]="'misc.logout' | translate"
          [defaultLanguage]="language"
          [languages]="languages"
          [customLogoPath]="customLogo ?? ''"
          (tenantChanged)="reload()"
        >
          <vo-lib-environment-chip></vo-lib-environment-chip>
        </bc-app-header-bar-iam>
      } @else {
        <bc-app-header-bar
          [link]="['/']"
          [title]="'misc.application-title.default' | translate"
          logo="VO"
        ></bc-app-header-bar>
      }
      <ng-content select="[navigation]"></ng-content>
    </header>
    <main>
      <bc-snackbar
        #snackbar
        action="{{ 'shared.action.discard' | translate }}"
        horizontalPosition="right"
        message=""
        variant="info"
        verticalPosition="top"
      >
      </bc-snackbar>
      @if (!loading && hasTenant) {
        <div>
          <ng-content></ng-content>
        </div>
      } @else {
        @if (!loading) {
          <div class="no-permissions-container" style="margin: 1rem">
            <p translate>misc.no-permissions</p>
            <div>
              <bc-button (buttonClick)="reload()" [label]="'misc.reload' | translate"></bc-button>
              <bc-button
                class="ml-2"
                (buttonClick)="logout()"
                [label]="'misc.logout' | translate"
              ></bc-button>
            </div>
          </div>
        } @else {
          <div class="spinner-container">
            <bc-spinner size="large"></bc-spinner>
          </div>
        }
      }
    </main>
    <footer></footer>
  </div>
}
