@if (totalCount === 0) {
  <div>
    <div class="mb-3">
      @if (!loading) {
        <p>
          {{ 'registration.statistics.result' | translate }}
          {{ 'registration.statistics.no-results' | translate }}
        </p>
      } @else {
        @if (loading) {
          <app-labeled-spinner class="mb-2"></app-labeled-spinner>
        }
        <app-fixed-space-loading-bar [loading]="loading"></app-fixed-space-loading-bar>
      }
    </div>
  </div>
}
<div [hidden]="totalCount === 0">
  <p>{{ 'registration.statistics.result' | translate }}{{ totalCount | number }}</p>
  <bc-table [dataSource]="dataSource" filter sort [sortMultiple]="true">
    <ng-container [columnDef]="columns.MUNICIPALITY_NAME">
      <th bc-header-cell filter filterType="list" [filterItems]="municipalityFilterItems" sort *headerCellDef>
        {{ 'registration.statistics.table.columns.' + columns.MUNICIPALITY_NAME | translate }}
      </th>
      <td bc-data-cell *dataCellDef="let row">
        {{ row[columns.MUNICIPALITY_NAME] }}
      </td>
    </ng-container>
    <ng-container [columnDef]="columns.TOTAL_EVOTER_COUNT">
      <th bc-header-cell sort *headerCellDef>
        {{ 'registration.statistics.table.columns.' + columns.TOTAL_EVOTER_COUNT | translate }}
      </th>
      <td bc-data-cell *dataCellDef="let row">
        {{ row[columns.TOTAL_EVOTER_COUNT] | number: '1.0-2' }}
      </td>
    </ng-container>
    <ng-container [columnDef]="columns.TOTAL_VOTER_COUNT">
      <th bc-header-cell sort *headerCellDef>
        {{ 'registration.statistics.table.columns.' + columns.TOTAL_VOTER_COUNT | translate }}
      </th>
      <td bc-data-cell *dataCellDef="let row">
        {{ row[columns.TOTAL_VOTER_COUNT] | number: '1.0-2' }}
      </td>
    </ng-container>
    <ng-container [columnDef]="columns.EVOTER_SHARE">
      <th bc-header-cell sort *headerCellDef>
        {{ 'registration.statistics.table.columns.' + columns.EVOTER_SHARE | translate }}
      </th>
      <td bc-data-cell *dataCellDef="let row">{{ row[columns.EVOTER_SHARE] | number: '1.0-2' }} %</td>
    </ng-container>
    <ng-container [columnDef]="columns.EVOTER_SHARE_CHART">
      <th bc-header-cell *headerCellDef>
        {{ 'registration.statistics.table.columns.' + columns.EVOTER_SHARE_CHART | translate }}
      </th>
      <td bc-data-cell *dataCellDef="let row">
        <div class="bar-container">
          <div
            class="bar"
            [ngStyle]="{
              width: calculateBarWidth(row[columns.EVOTER_SHARE]) + '%',
              'background-color': calculateBarColor(row[columns.EVOTER_SHARE]),
            }"
          ></div>
        </div>
      </td>
    </ng-container>
    <tr bc-header-row *headerRowDef="let row; columns: columnsToDisplay"></tr>
    <tr bc-data-row *dataRowDef="let row; columns: columnsToDisplay"></tr>
  </bc-table>
  <bc-paginator
    showFirstLastButtons
    [length]="totalCount"
    [pageSize]="20"
    [pageSizeOptions]="[5, 10, 20, 50, 100]"
  >
  </bc-paginator>
</div>
<bc-divider></bc-divider>
