<div class="export-header">
  <bc-icon mat-dialog-close [icon]="'cancel'"></bc-icon>
  <p>{{ 'export-filter.title' | translate }}</p>
</div>
<div class="content">
  <bc-dropdown
    [tabIndex]="1"
    [items]="types"
    [displayExpr]="'displayValue'"
    [valueExpr]="'id'"
    [label]="'export-filter.dropdown.title' | translate"
    [(ngModel)]="type"
    [required]="true"
    [disabled]="exporting"
    subscriptSizing="dynamic"
  ></bc-dropdown>
  @if (invalidPersonCount > 0) {
    <div class="invalid-persons-warning">
      <bc-icon class="color-warning" icon="exclamation-triangle-o"></bc-icon>
      <p>
        {{
          'export-filter.invalid-persons-count.' +
            (type === exportTypes.ECH ? 'filtered' : 'included') +
            (invalidPersonCount === 1 ? '-single' : '') | translate: { count: invalidPersonCount | number }
        }}
      </p>
    </div>
  }
</div>
<div class="action-buttons">
  @if (!exporting) {
    <bc-button
      mat-dialog-close
      [label]="'shared.action.cancel' | translate"
      [variant]="'tertiary'"
    ></bc-button>
    <bc-button
      [label]="'shared.action.export' | translate"
      [color]="'primary'"
      [variant]="'primary'"
      (buttonClick)="export()"
    ></bc-button>
  } @else {
    <bc-spinner></bc-spinner>
  }
</div>
