<div class="header">
  <bc-icon mat-dialog-close [icon]="'cancel'" class="pointer"></bc-icon>
  <p>{{ 'filter-version.selectVersion' | translate }}</p>
</div>
<div class="table">
  @if (datasource.data.length === 0) {
    <div>
      {{ 'filter-version-popup.empty' | translate }}
    </div>
  }
  @if (datasource.data.length !== 0) {
    <bc-table [dataSource]="datasource" [fixed]="false">
      <ng-container [columnDef]="columns.name">
        <th bc-header-cell *headerCellDef>{{ 'filter-version.description' | translate }}</th>
        <td bc-data-cell *dataCellDef="let version">
          {{ version.name }}
        </td>
      </ng-container>
      <ng-container [columnDef]="columns.created">
        <th bc-header-cell *headerCellDef>{{ 'filter-version.createdDate' | translate }}</th>
        <td bc-data-cell *dataCellDef="let version">
          {{ version.auditInfo.createdAt | localDate: true }}
        </td>
      </ng-container>
      <ng-container [columnDef]="columns.creator">
        <th bc-header-cell *headerCellDef>{{ 'filter-version.creator' | translate }}</th>
        <td bc-data-cell *dataCellDef="let version">
          {{ version.auditInfo.createdByName }}
        </td>
      </ng-container>
      <ng-container [columnDef]="columns.deadline">
        <th bc-header-cell *headerCellDef>{{ 'filter-version.deadline' | translate }}</th>
        <td bc-data-cell *dataCellDef="let version">
          {{ version.deadline | localDate }}
        </td>
      </ng-container>
      <ng-container [columnDef]="columns.count">
        <th bc-header-cell *headerCellDef>{{ 'filter-version.persons' | translate }}</th>
        <td bc-data-cell *dataCellDef="let version">
          {{ version.count | number }}
        </td>
      </ng-container>
      <tr bc-header-row *headerRowDef="let row; columns: columnsToDisplay"></tr>
      <tr
        bc-data-row
        *dataRowDef="let row; columns: columnsToDisplay"
        class="pointer"
        (click)="openVersion(row)"
      ></tr>
    </bc-table>
  }
</div>
