<h5>{{ 'data-overview.history' | translate }}</h5>
@if (isLoading) {
  <bc-spinner></bc-spinner>
}
<div [hidden]="totalCount === 0">
  @if (totalCount !== 0) {
    <bc-table [dataSource]="datasource" [fixed]="false">
      <ng-container [columnDef]="columns.LATESTUPDATE">
        <th bc-header-cell *headerCellDef>{{ 'history-table.columns.latestDate' | translate }}</th>
        <td bc-data-cell *dataCellDef="let column">
          {{ column.auditInfo.modifiedAt | localDate: true }}
        </td>
      </ng-container>
      <ng-container [columnDef]="columns.DURATION">
        <th bc-header-cell *headerCellDef>{{ 'history-table.columns.duration' | translate }}</th>
        <td bc-data-cell *dataCellDef="let column">
          {{ column.totalElapsedMilliseconds }}
        </td>
      </ng-container>
      <ng-container [columnDef]="columns.PERSONS">
        <th bc-header-cell *headerCellDef>{{ 'history-table.columns.persons' | translate }}</th>
        <td bc-data-cell *dataCellDef="let column">
          {{ column.importRecordsCountTotal | number }}
        </td>
      </ng-container>
      <ng-container [columnDef]="columns.STATE">
        <th bc-header-cell *headerCellDef>{{ 'history-table.columns.state' | translate }}</th>
        <td bc-data-cell *dataCellDef="let column">
          <app-data-import-status-icon [status]="column.importStatus"></app-data-import-status-icon>
        </td>
      </ng-container>
      <tr bc-header-row *headerRowDef="let row; columns: columnsToDisplay"></tr>
      <tr
        bc-data-row
        *dataRowDef="let row; columns: columnsToDisplay"
        [class.selected]="row.id === selectedStatistic?.id"
        class="pointer"
        (click)="selectHistory(row)"
      ></tr>
    </bc-table>
  }
  <bc-paginator
    showFirstLastButtons
    [length]="pagination.length"
    [pageSize]="pagination.pageSize"
    [pageSizeOptions]="[5, 10, 20, 50, 100]"
  >
  </bc-paginator>
</div>

@if (!isLoading && totalCount === 0) {
  <div>
    <div>
      <p class="empty-text">
        {{ hasDetail ? 'history-table.empty' : ('history-table.no-data' | translate) }}
      </p>
    </div>
  </div>
}
