@if (totalCount === 0) {
  <div>
    <div class="mb-3">
      @if (!loading) {
        <p>{{ 'person-search.result' | translate }} {{ 'person-search.no-results' | translate }}</p>
      } @else {
        @if (loading) {
          <app-labeled-spinner></app-labeled-spinner>
        }
      }
    </div>
  </div>
}
<div [hidden]="totalCount === 0">
  <div>
    @if (loading) {
      <app-labeled-spinner class="mb-2"></app-labeled-spinner>
    } @else {
      <p>{{ 'person-search.result' | translate }}{{ totalCount | number }}</p>
      @if (invalidCount > 0) {
        <p class="italic">
          <bc-icon class="color-warning" icon="exclamation-triangle-o"></bc-icon>
          {{ 'person-search.invalid-count' | translate: { count: invalidCount | number } }}
        </p>
      }
    }
  </div>
  <app-fixed-space-loading-bar [loading]="loading"></app-fixed-space-loading-bar>
  @if (totalCount !== 0) {
    <bc-table [dataSource]="datasource" [fixed]="false">
      <ng-container [columnDef]="columns.actuality">
        <th bc-header-cell *headerCellDef>{{ 'person-table.columns.' + columns.actuality | translate }}</th>
        <td bc-data-cell *dataCellDef="let person">
          @if (person[columns.actuality]) {
            <bc-icon
              [icon]="'checkmark'"
              class="actuality__true"
              [title]="('person.actuality' | translate) + (person.actualityDate | localDate: true)"
            >
            </bc-icon>
          } @else {
            <bc-icon
              [icon]="'exclamation-circle-o'"
              class="actuality__false"
              [title]="('person.actuality' | translate) + (person.actualityDate | localDate: true)"
            ></bc-icon>
          }
        </td>
      </ng-container>
      <ng-container [columnDef]="columns.officialName">
        <th bc-header-cell *headerCellDef>
          {{ 'person-table.columns.' + columns.officialName | translate }}
        </th>
        <td bc-data-cell *dataCellDef="let person">
          {{ person.officialName }}
        </td>
      </ng-container>
      <ng-container [columnDef]="columns.firstName">
        <th bc-header-cell *headerCellDef>{{ 'person-table.columns.' + columns.firstName | translate }}</th>
        <td bc-data-cell *dataCellDef="let person">
          {{ person.firstName }}
        </td>
      </ng-container>
      <ng-container [columnDef]="columns.sex">
        <th bc-header-cell *headerCellDef></th>
        <td bc-data-cell *dataCellDef="let person">
          {{ 'data-overview.sex.' + person.sex | translate }}
        </td>
      </ng-container>
      <ng-container [columnDef]="columns.dateOfBirth">
        <th bc-header-cell *headerCellDef>{{ 'person-table.columns.' + columns.dateOfBirth | translate }}</th>
        <td bc-data-cell *dataCellDef="let person">
          {{ person.dateOfBirth | localDate }}
        </td>
      </ng-container>
      <ng-container [columnDef]="columns.street">
        <th bc-header-cell *headerCellDef>{{ 'person-table.columns.' + columns.street | translate }}</th>
        <td bc-data-cell *dataCellDef="let person">
          {{ person.contactAddressStreet }}
        </td>
      </ng-container>
      <ng-container [columnDef]="columns.houseNumber">
        <th bc-header-cell *headerCellDef>{{ 'person-table.columns.' + columns.houseNumber | translate }}</th>
        <td bc-data-cell *dataCellDef="let person">
          {{ person.contactAddressHouseNumber }}
        </td>
      </ng-container>
      <ng-container [columnDef]="columns.zipCode">
        <th bc-header-cell *headerCellDef>{{ 'person-table.columns.' + columns.zipCode | translate }}</th>
        <td bc-data-cell *dataCellDef="let person">
          {{ person.contactAddressZipCode }}
        </td>
      </ng-container>
      <ng-container [columnDef]="columns.town">
        <th bc-header-cell *headerCellDef>{{ 'person-table.columns.' + columns.town | translate }}</th>
        <td bc-data-cell *dataCellDef="let person">
          {{ person.contactAddressTown }}
        </td>
      </ng-container>
      <ng-container [columnDef]="columns.countryNameShort">
        <th bc-header-cell *headerCellDef>
          {{ 'person-table.columns.' + columns.countryNameShort | translate }}
        </th>
        <td bc-data-cell *dataCellDef="let person">
          {{ person.countryNameShort ? person.countryNameShort : person.country }}
        </td>
      </ng-container>
      <ng-container [columnDef]="columns.locality">
        <th bc-header-cell *headerCellDef>{{ 'person-table.columns.' + columns.locality | translate }}</th>
        <td bc-data-cell *dataCellDef="let person">
          @if (!person.isSwissAbroad) {
            <span
              >{{ person.contactAddressLocality || person.municipalityName }} ({{
                person.municipalityId
              }})</span
            >
          } @else {
            <span>{{ person.municipalityName }} ({{ person.municipalityId }})</span>
          }
        </td>
      </ng-container>
      <ng-container [columnDef]="columns.origins">
        <th bc-header-cell *headerCellDef>{{ 'person-table.columns.' + columns.origins | translate }}</th>
        <td bc-data-cell *dataCellDef="let person" tooltip truncateWithTooltip>
          {{ person.origins.join(', ') }}
        </td>
      </ng-container>
      <ng-container [columnDef]="columns.residence">
        <th bc-header-cell *headerCellDef>{{ 'person-table.columns.' + columns.residence | translate }}</th>
        <td bc-data-cell *dataCellDef="let person">
          {{ person.typeOfResidence }}
        </td>
      </ng-container>
      <ng-container [columnDef]="columns.isVotingAllowed">
        <th bc-header-cell *headerCellDef>
          {{ 'person-table.columns.' + columns.isVotingAllowed | translate }}
        </th>
        <td bc-data-cell *dataCellDef="let person">
          @if (person.isVotingAllowed) {
            <bc-status-label
              [backgroundColor]="'#e8f4ed'"
              [width]="'60px'"
              [label]="'person-table.votingRight.yes' | translate"
            ></bc-status-label>
          }
          @if (!person.isVotingAllowed) {
            <bc-status-label
              [backgroundColor]="'#c60000'"
              [foregroundColor]="'light'"
              [width]="'60px'"
              [label]="'person-table.votingRight.no' | translate"
            ></bc-status-label>
          }
        </td>
      </ng-container>
      <tr bc-header-row *headerRowDef="let row; columns: columnsToDisplay"></tr>
      <tr
        bc-data-row
        *dataRowDef="let row; columns: columnsToDisplay"
        class="pointer"
        (click)="openDetailView(row.registerId)"
      ></tr>
    </bc-table>
  }
  <bc-paginator
    showFirstLastButtons
    (page)="selectPage($event)"
    [length]="totalCount"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[5, 10, 20, 50, 100]"
  >
  </bc-paginator>
</div>
<bc-divider></bc-divider>
