<div class="header">
  <bc-icon mat-dialog-close [icon]="'cancel'"></bc-icon>
  <p>{{ 'upload-data.title' | translate }}</p>
</div>
<div class="upload-form">
  <bc-dropdown
    [tabIndex]="1"
    [items]="uploadTypes"
    [displayExpr]="'displayValue'"
    [valueExpr]="'id'"
    [label]="'upload-data.dropdown.title' | translate"
    [value]="'2'"
    [required]="true"
    [disabled]="uploading"
    [(ngModel)]="selectedTypeSystemId"
    (ngModelChange)="updateSelectedTypeSystem($event)"
    subscriptSizing="dynamic"
  ></bc-dropdown>
  <bc-alert-bar
    *ngIf="file && !isFileValidForUpload"
    [color]="'error'"
    [message]="'upload-data.fileValidationError' | translate: { fileExt: allowedFileExtension }"
    [displayDismissAction]="false"
  >
  </bc-alert-bar>
  <bc-file-input
    [tabIndex]="2"
    [label]="'upload-data.explore' | translate"
    [variant]="'tertiary'"
    [accept]="allowedFileExtension"
    [multiple]="false"
    [type]="'button'"
    [(value)]="uploadFile"
    (valueChange)="updateFile($event)"
  ></bc-file-input>
</div>
<div class="action-buttons">
  <ng-container *ngIf="!uploading; else spinner">
    <bc-button
      mat-dialog-close
      [label]="'shared.action.cancel' | translate"
      [variant]="'tertiary'"
    ></bc-button>
    <bc-button
      [label]="'shared.action.upload' | translate"
      [color]="'primary'"
      [variant]="'primary'"
      [disabled]="!isFileValidForUpload"
      (buttonClick)="upload()"
    ></bc-button>
  </ng-container>
  <ng-template #spinner>
    <bc-spinner></bc-spinner>
  </ng-template>
</div>
