<form class="filter-container" [formGroup]="filterForm" (ngSubmit)="triggerSearch($event)">
  <div class="search-filter">
    <div *ngFor="let criteria of criteria">
      <div *ngIf="criteria.filterDataType === 'string'" class="search-filter-input">
        <bc-filter-text
          *ngIf="criteria.referenceId !== 'vn'; else vn"
          [formControlName]="criteria.referenceId"
          [label]="'shared.filter-labels.' + criteria.referenceId | translate"
          [clearable]="false"
          [optionalText]="''"
          [width]="'200px'"
          [error]="!(filterForm.controls[criteria.referenceId].valid || filterForm.controls[criteria.referenceId].pristine)"
          [(ngModel)]="criteria.filterValue"
          [icon]="criteria.filterOperator"
          (filterChange)="filterChange($event, criteria)"
          [operation]="criteria.filterOperator"
        >
        </bc-filter-text>
        <ng-template #vn>
          <bc-text
            [formControlName]="criteria.referenceId"
            [label]="'shared.filter-labels.' + criteria.referenceId | translate"
            [clearable]="false"
            [optionalText]="''"
            [width]="'200px'"
            [placeholder]="'756.xxxx.xxxx.xx'"
            [error]="!(filterForm.controls[criteria.referenceId].valid || filterForm.controls[criteria.referenceId].pristine)"
            [(ngModel)]="criteria.filterValue"
          >
          </bc-text>
        </ng-template>
        <mat-icon fontSet="abraxas-icons" fontIcon="icon-cancel" class="search-filter-input__cancel" (click)="deleteCriteria(criteria.referenceId)"></mat-icon>
      </div>
      <div *ngIf="criteria.filterDataType === 'date'" class="search-filter-input">
        <bc-filter-date
          [formControlName]="criteria.referenceId"
          [label]="'shared.filter-labels.' + criteria.referenceId | translate"
          [optionalText]="''"
          [error]="!(filterForm.controls[criteria.referenceId].valid || filterForm.controls[criteria.referenceId].pristine)"
          [(ngModel)]="criteria.filterValue"
          [clearable]="false"
          (filterChange)="filterChange($event, criteria)"
          [operation]="criteria.filterOperator"
        ></bc-filter-date>
        <mat-icon fontSet="abraxas-icons" fontIcon="icon-cancel" class="search-filter-input__cancel" (click)="deleteCriteria(criteria.referenceId)"></mat-icon>
      </div>
      <div *ngIf="criteria.filterDataType === 'boolean'" class="search-filter-input__boolField">
        <bc-checkbox
          [formControlName]="criteria.referenceId"
          [label]="'shared.filter-labels.' + criteria.referenceId | translate"
          [(ngModel)]="criteria.filterValue"
        ></bc-checkbox>
        <mat-icon fontSet="abraxas-icons" fontIcon="icon-cancel" class="search-filter-input__boolCancel"
                  (click)="deleteCriteria(criteria.referenceId)"></mat-icon>
      </div>
      <div *ngIf="criteria.filterDataType === 'numeric' && !isFilterControl(criteria.referenceId)" class="search-filter-input">
        <bc-filter-number
          [formControlName]="criteria.referenceId"
          [appearance]="'outline'"
          [label]="'shared.filter-labels.' + criteria.referenceId | translate"
          [optionalText]="''"
          [required]="true"
          [clearable]="false"
          [(ngModel)]="criteria.filterValue"
          (filterChange)="filterChange($event, criteria)"
          [operations]="numberFilterOperations"
        ></bc-filter-number>
        <mat-icon fontSet="abraxas-icons" fontIcon="icon-cancel" class="search-filter-input__cancel" (click)="deleteCriteria(criteria.referenceId)"></mat-icon>
      </div>
      <div *ngIf="criteria.filterDataType === 'numeric' && isFilterControl(criteria.referenceId)" class="search-filter-input">
        <bc-filter-number
          [formControlName]="criteria.referenceId"
          [appearance]="'outline'"
          [label]="'shared.filter-labels.' + criteria.referenceId | translate"
          [optionalText]="''"
          [required]="true"
          [clearable]="false"
          [(ngModel)]="criteria.filterValue"
          (filterChange)="filterChange($event, criteria)"
          [operation]="criteria.filterOperator"
        ></bc-filter-number>
        <mat-icon fontSet="abraxas-icons" fontIcon="icon-cancel" class="search-filter-input__cancel" (click)="deleteCriteria(criteria.referenceId)"></mat-icon>
      </div>
      <div *ngIf="criteria.filterDataType === 'multiselect'" class="search-filter-input">
        <bc-dropdown
          [formControlName]="criteria.referenceId"
          [label]="'shared.filter-labels.' + criteria.referenceId | translate"
          [width]="'200px'"
          [items]="'select-items.' + criteria.referenceId | translationsDropdownItems"
          [displayExpr]="'displayValue'"
          [valueExpr]="'id'"
          [multiple]="true"
          [optionalText]="''"
          [(ngModel)]="criteria.filterValue"
        >
        </bc-dropdown>
        <mat-icon fontSet="abraxas-icons" fontIcon="icon-cancel" class="search-filter-input__cancel" (click)="deleteCriteria(criteria.referenceId)"></mat-icon>
      </div>
      <div *ngIf="criteria.filterDataType === 'select'" class="search-filter-input">
        <bc-dropdown
          [formControlName]="criteria.referenceId"
          [label]="'shared.filter-labels.' + criteria.referenceId | translate"
          [width]="'200px'"
          [items]="'select-items.' + criteria.referenceId | translationsDropdownItems"
          [displayExpr]="'displayValue'"
          [valueExpr]="'id'"
          [multiple]="false"
          [optionalText]="''"
          [(ngModel)]="criteria.filterValue"
        ></bc-dropdown>
        <mat-icon fontSet="abraxas-icons" fontIcon="icon-cancel" class="search-filter-input__cancel" (click)="deleteCriteria(criteria.referenceId)"></mat-icon>
      </div>
    </div>
    <bc-button type="button" [variant]="'tertiary'" [label]="'handle-filter.addFilter' | translate" [matMenuTriggerFor]="menu"></bc-button>
    <mat-menu #menu>
      <div *ngFor="let item of selectableAttributes">
        <div mat-menu-item (click)="addFilter(item.value)">{{'shared.filter-labels.' + item.value | translate}}</div>
      </div>
    </mat-menu>
  </div>
  <div class="filter-container__actions">
    <bc-button
      [variant]="'tertiary'"
      [label]="'shared.action.search' | translate"
      type="submit"
    ></bc-button>
    <bc-button
      [variant]="'tertiary'"
      [label]="'shared.action.reset' | translate"
      (click)="clearSearch()"
      type="button"
    ></bc-button>
    <bc-button
      *ngIf="canSaveFilter && isManager"
      [variant]="'tertiary'"
      [label]="'handle-filter.new-title' | translate"
      (click)="newFilter()"
      type="button"
    ></bc-button>
  </div>
</form>
