<div>
  <p>{{ title | translate }}</p>
  @if (filterDatasource.data.length === 0) {
    <div>
      <p class="empty-text">{{ 'filter-overview.empty' | translate }}</p>
    </div>
  }
  @if (filterDatasource.data.length !== 0) {
    <bc-table [dataSource]="filterDatasource" [fixed]="false">
      <ng-container [columnDef]="columns.NAME">
        <th bc-header-cell *headerCellDef>{{ 'filter-overview.table.name' | translate }}</th>
        <td bc-data-cell *dataCellDef="let row">
          {{ row[columns.NAME] }}
        </td>
      </ng-container>
      <ng-container [columnDef]="columns.DESCRIPTION">
        <th bc-header-cell *headerCellDef>{{ 'filter-overview.table.description' | translate }}</th>
        <td bc-data-cell *dataCellDef="let row">
          {{ row[columns.DESCRIPTION] }}
        </td>
      </ng-container>
      <ng-container [columnDef]="columns.LATEST_VERSION">
        <th bc-header-cell *headerCellDef>{{ 'filter-overview.table.latestVersion' | translate }}</th>
        <td bc-data-cell *dataCellDef="let row">
          @if (row.latestVersion) {
            <span>
              {{
                'filter-overview.table.latestVersionContent'
                  | translate
                    : { name: row.latestVersion.name, deadline: (row.latestVersion.deadline | localDate) }
              }}
              <br />
              {{
                'filter-overview.table.latestVersionCountContent'
                  | translate: { count: (row.latestVersion.count | number) }
              }}
            </span>
          }
        </td>
      </ng-container>
      <ng-container [columnDef]="columns.TENANT_NAME">
        <th bc-header-cell *headerCellDef>{{ 'filter-overview.table.tenantName' | translate }}</th>
        <td bc-data-cell *dataCellDef="let row">
          {{ row[columns.TENANT_NAME] }}
        </td>
      </ng-container>
      <tr bc-header-row *headerRowDef="let row; columns: columnsToDisplay"></tr>
      <tr
        bc-data-row
        *dataRowDef="let row; columns: columnsToDisplay"
        class="pointer"
        (click)="openDetailView(row)"
      ></tr>
    </bc-table>
  }
</div>
