<div class="content">
  <bc-readonly class="content-description">{{ 'person.attribute-label.' + title | translate }}</bc-readonly>
  <div class="content-data" [class.content-error]="!valid">
    @if (content) {
      <bc-readonly>{{ content }}</bc-readonly>
    }
    @if (!content) {
      <bc-readonly>-</bc-readonly>
    }
    @if (valid) {
      <bc-icon class="success" icon="check-circle"></bc-icon>
    }
    @if (!valid) {
      <bc-icon class="error" icon="exclamation-triangle-o"></bc-icon>
    }
  </div>
</div>
