.success {
  color: #1c9048;
}

.error {
  color: #c60000;
}

.content {
  display: flex;
  align-items: stretch;
  margin-bottom: 10px;
  margin-top: 10px;
  flex-wrap: wrap;

  &-description {
    flex-grow: 1;
    width: 60%;
    max-width: 60%;
  }

  bc-readonly.content-description {
    width: inherit;
  }

  &-data {
    width: 40%;
    max-width: 40%;
    flex-grow: 1;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #e8f4ed;
    display: flex;
    align-items: center;

    .success,
    .icon-error {
      display: table-cell;
      width: 20px;
      vertical-align: middle;
    }

    &-text {
      display: table-cell;
    }
  }

  &-error {
    background-color: #f9e6e6;
  }
}
