<div class="header">
  <bc-icon mat-dialog-close [icon]="'cancel'"></bc-icon>
  @if (isNew) {
    <p>{{ 'filter-version.createVersion.title' | translate }}</p>
  }
  @if (!isNew) {
    <p>{{ 'filter-version.editVersion' | translate }}</p>
  }
</div>
<div class="form-container" [formGroup]="versionForm">
  @if (isNew) {
    <h5>{{ 'filter-version.createVersion.info' | translate }}</h5>
  }
  <bc-text
    [formControlName]="'description'"
    [label]="'filter-version.description' | translate"
    [optionalText]="''"
    [(ngModel)]="this.version.name"
    subscriptSizing="dynamic"
  ></bc-text>
  <bc-date
    [formControlName]="'date'"
    [label]="'filter-version.deadline' | translate"
    [optionalText]="''"
    [mode]="'date'"
    [icon]="'calendar'"
    [(ngModel)]="this.version.deadline"
    [disabled]="!isNew"
  ></bc-date>
  @if (version.countOfInvalidPersons > 0 && isNew) {
    <div class="invalid-persons-warning">
      <bc-icon class="color-warning" icon="exclamation-triangle-o"></bc-icon>
      <p>
        {{
          'filter-version.createVersion.invalidPersons.' +
            (version.countOfInvalidPersons === 1 ? 'single' : 'multiple')
            | translate: { count: version.countOfInvalidPersons | number }
        }}
      </p>
    </div>
  }
</div>
<div class="action-buttons">
  @if (!isLoading) {
    <bc-button
      [variant]="'tertiary'"
      [label]="'shared.action.cancel' | translate"
      mat-dialog-close
    ></bc-button>
  }
  @if (!isLoading) {
    <bc-button
      [disabled]="!versionForm.valid"
      [variant]="'primary'"
      [label]="'shared.action.save' | translate"
      (click)="save()"
    ></bc-button>
  } @else {
    <bc-spinner></bc-spinner>
  }
</div>
