<bc-label
  class="filter-criteria-label"
  [label]="'shared.filter-labels.' + criteria.referenceId | translate"
></bc-label>
<div class="value">
  @if (
    criteria.filterDataType === 'date' ||
    criteria.filterDataType === 'string' ||
    criteria.filterDataType === 'numeric'
  ) {
    <bc-icon [icon]="criteria.filterOperator | changeCase: 'kebab-case'"></bc-icon>
  }
  @switch (criteria.filterDataType) {
    @case ('string') {
      <span>{{ criteria.filterValue }}</span>
    }
    @case ('date') {
      <span>{{ criteria.filterValue | localDate }}</span>
    }
    @case ('numeric') {
      <span>{{ criteria.filterValue | number }}</span>
    }
    @case ('boolean') {
      <span>{{ 'boolean.' + criteria.filterValue | translate }}</span>
    }
    @case ('select') {
      <span>{{ 'select-items.' + criteria.referenceId + '.' + criteria.filterValue | translate }}</span>
    }
    @case ('multiselect') {
      <div>
        @for (value of criteria.filterValue; track value) {
          <span>
            {{ 'select-items.' + criteria.referenceId + '.' + value | translate }}
          </span>
        }
      </div>
    }
  }
</div>
